<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajoobashop.ajooba">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ajoobashop.ajooba.AddNewAddressActivity"></activity>
        <activity android:name="com.ajoobashop.ajooba.contactUsActivity" />
        <activity android:name="com.ajoobashop.ajooba.AddressActivity" />
        <activity android:name="com.ajoobashop.ajooba.Order_ProductsActivity" />
        <activity android:name="com.ajoobashop.ajooba.OrdersActivity" />
        <activity android:name="com.ajoobashop.ajooba.PaymentAndOrderPlaceActivity" />
        <activity android:name="com.ajoobashop.ajooba.DeliveryOptionsActivity" />
        <activity android:name="com.ajoobashop.ajooba.Vegeteable_SubCategory_Activity" />
        <activity android:name="com.ajoobashop.ajooba.ProfileActivity" />
        <activity android:name="com.ajoobashop.ajooba.CodeVerificationActivity" />
        <activity android:name="com.ajoobashop.ajooba.Login_SignUp_Activity" />
        <activity android:name="com.ajoobashop.ajooba.ProductActivity" />
        <activity android:name="com.ajoobashop.ajooba.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCgGa22KPL4COnRqYfC3BjERA6UvNzPLp8" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_WkPqIQ4Y8FIQDj" />
    </application>

</manifest>